body p{
    margin: 0%;
    padding: 0%;

}

nav{
    display: flex;
    justify-content: space-around; 
    width: 20%;
    margin-left: auto; 
    align-items: flex-end;
    padding-top: 0.5%;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

nav img{
    height: 20px;
}

nav #usericon{
    height: 25px;

}

main{
    width: 36%;
    margin:  auto;
    text-align: center;
}

main img{
    width: 76%;
}

input{
    width: 100%;
    padding: 1em;
    border-radius: 30px;
    border: 0.5px solid gray;
}

input:hover{
    border: 0.5px groove rgb(224, 223, 223);
    transition: width 2s;
}

.buttons_holder{
    margin-top: 1.2em;
    margin-left: 5%;
}

.buttons_holder button{
    padding: 0.7em;
    border: none;
    font-size: 107%;
    margin-right: 3.5%;

}
.buttons_holder button:hover{
    border: 0.5px groove rgb(224, 223, 223);
    transition: width 2s;
}

.language{
    font-size: 110%;
    padding-top: 3%;
}

.language a{
    text-decoration: none;
    margin-right: 0.5em;
    
}

.language a:hover{
    text-decoration: underline;
} 

footer{
    color: gray;
    margin-top: 11.5em;
    background-color: rgba(248, 248, 248, 0.795);
}

.footer_top{
    padding-bottom: 1em;

}

.footer_bottom{
    /* padding-bottom: 1.5em; */
    padding-top: 3em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(233, 230, 230);
    
}

.left a{
    margin-right: 1em
}

.left a:hover{
    text-decoration: underline;
}

.write_up a:hover{
    text-decoration: underline;
} 

.right a{
    margin-right: 1em
}

.right a:hover{
    text-decoration: underline;
}
